# Python
__pycache__/

# Virtual environment
.venv/
venv/
env/

# Environment
.env

# Testing
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type checkers
.mypy_cache/
.ruff_cache/

# IDE
.idea/
.vscode/

# Logs
*.log
logs/


